<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @location.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>


<% location = [@location.latitude, @location.longitude].join(',') %>

<iframe src="//www.google.com/maps/embed/v1/place?q=<%= location %>&zoom=17&key=AIzaSyBEvyu5ClWXZBCHCnXUvOKLaQ8vwSaJ-tU"></iframe>



<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
